{% extends 'menu/base.html' %}

{% block content %}
    <ul class="menu">
        {% for node in menu_items %}
            <li>
                {% if target == node.name %}
                    <span class="dotted-underline">{{ node.name }}</span>
                {% else %}
                    {{ node.name }}
                {% endif %}
                {% if node.children %}
                    {% include 'menu/one_menu.html' with menu_items=node.children %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}